body {
	background: url("images/bg.jpg") repeat;
	background-size: cover;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	/*text-shadow: 1px 2px 1px #898989;*/
	margin: 0;
	padding: 0;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

@font-face {
	font-family: 'HarabaraRegular';
	src: url('fonts/harabara-webfont.eot');
	src: url('fonts/harabara-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/harabara-webfont.woff') format('woff'),
		url('fonts/harabara-webfont.ttf') format('truetype'),
		url('fonts/harabara-webfont.svg#HarabaraRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

p, b, i, ul, ol, li {
	color: #fffff;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	/*text-shadow: 1px 2px 1px #565656;*/
	text-decoration: none;
}

ul li {
	list-style-type: square;
}

a {
	color: #ffffff;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	/*text-shadow: 1px 2px 1px #343434;*/
	text-decoration: none;
}

a:hover {
	color: #003377;
}


.button{
	background: #000000;
	color: #ffffff;
	font-family: 'HarabaraRegular';
	font-size: 1.3em;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-shadow: 1px 2px 1px #000000;
	text-align: center;
	margin: 10px 10px;
	padding: 5px 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border: transparent;
	border-radius: 7px;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
	cursor:pointer

}

.button:hover{
	background: #333333;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-family: 'HarabaraRegular';
	text-shadow: 1px 2px 1px #565656;
	text-decoration: none;
	margin: 5px 0;
	padding: 0;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.4em;
}

img {
	border: none;
}

table {
	border: 0;
	text-align: left;

}

.clear {
	clear: both;
}

/* === Header === */

#header {
	background: url("images/header.png") repeat-x;
	width: 100%;
	height: 150px;
}

#header-content {
	width: 1000px;
	margin: 0 auto;
}

#logo {
	margin: 25px 0 0 0;
	float: left;
}

#nav {
	float: right;
	overflow: hidden;
	margin: 53px 0 0 0;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}

#nav ul li a {
	background: #000000;
	color: #ffffff;
	font-family: 'HarabaraRegular';
	font-size: 1.3em;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-shadow: 1px 2px 1px #000000;
	text-align: center;
	margin: 0 10px;
	padding: 5px 20px;
	float: left;
	position: relative;
	display: block;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

#nav ul li a:hover {
	background: #333333;
}

#logout{
	padding: 8px 20px;
}

#logout a{
	background: #000000;
	color: #ffffff;
	font-family: 'HarabaraRegular';
	font-size: 1.3em;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-shadow: 1px 2px 1px #000000;
	text-align: center;
	margin: 0 10px;
	padding: 8px 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
}


#logout a:hover {
	background: #333333;
}

/* === Content === */

#content {
	width: 875px;
	margin: 30px auto 0 auto;
}

#main {
	background: #111111;
	width: 610px;
	min-height: 600px;
	float: left;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: justify;

}

/* PESTAÑAS */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor-tabs {
	max-width: 600px;
	margin: 50px auto 0;
	position: relative;
}

span.diana {
	position: fixed;
	display: none;
}

.tab div {
	background: #8AA9B8;
	background: #000000;
  	width: 100%;
  	top: 1rem;
  	left: 0;
  	font-size: 1.2rem;
  	font-family: carme, sans-serif;
  	color: #fff;
  	line-height: 1.2;
  	z-index: 5;
  	opacity:0;
  	transition: all 0s linear;
 }

.tab .content {
	font-family: 'HarabaraRegular';
	font-size: 1.3em;
	text-decoration: none;
	line-height: 30px;
	text-shadow: 1px 2px 1px #000000;
	text-align: center;
	min-height: 200px;
	position:absolute;
}
.tab .content p{
	margin-top: 15px;
	margin-left: 15px;


}
.tab .content .grupo_escudos{
	margin-top: 15px;
}
.tab .content .grupo_escudos img{
	margin-right:10px;
	margin-left:10px;
	width: 7%;
	height: 7%;

}

.tab .content .lista{
	width: 100%;
	height: 325px;
	/*border: 1px solid #555555;*/

}

.tab .content .lista .partido{

	display:block;
	height: 37px;
	width: 95%;
	margin: 10px;
}


.tab .content .lista .partido .fecha{
	color: #E16039;
	width: 82px;
	height: 25px;
	float: left;
	font-weight:inherit;
	font-style: inherit;
	font-size: 12px	;
	text-decoration: none;
	text-align: center;
}

.tab .content .lista .partido .equipo_l{
	width: 25%;
	height: 25px;
	text-align: left;
	float: left;
	margin-top: 5px;
	font-size: 16px	;

}

.tab .content .lista .partido .equipo_r{
	width: 25%;
	height: 25px;
	margin-top: 5px;
	font-size: 16px	;
	text-align: right;
	float: left;


}

.tab .content .lista .partido .resultado{

	width: 33px;
	height: 25px;
	padding: 4px 0 2px;
	margin: 0 5px;
	color:black;
	font-weight: 700;
	font-size: 20px;
	font-family: ArchivoNarrowRegular;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	float: left;
}

.tab .content .lista .partido .guion{
	float: left;
    margin: 12px 0px 0px;
    font-weight: 700;
    font-size: 10px;
    font-family: ArchivoNarrowRegular;
    text-align: center;
}


.tab .tab-e {
 	margin-top: -1rem;
  	float: left;
  	width: 12%;
  	padding: 5px;
	background: #888888;
  	margin-right: 3px;

  	text-decoration: none;
	font-family: 'HarabaraRegular';
	font-size: 1.0em;
	font-weight: bold;
  	color: #ffffff;
  	text-align: center;
	text-shadow: 1px 2px 1px #000000;
  	position: relative;

	border-radius: 7px;
  	transition: all 0.1s linear;

	line-height: 30px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;

}


a.tab-e:hover {
  	color: #ff0000;
}

p img {
	float: left;
	width: 20%;
}

.diana:target + .tab div {
	opacity: 1;
	background: #000000;
	color: #fff;
 }

.diana:target + .tab .tab-e {
  background: #000000;
  color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
 }


/* === Sidebar === */

#sidebar {
	width: 200px;
	float: right;
}

.sidebar-box {
	background: #111111;
	width: 200px;
	margin: 0 0 20px 0;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

/* === Footer === */

#footer {
	background: url("images/footer.png") repeat-x;
	width: 100%;
	height: 80px;
	margin: 20% 0 0 0;
}

#footer-content {
	width: 900px;
	margin: 0 auto;
}

#copyright {
	float: left;
}

#icons {
	margin: 23px 0 0 0;
	float: right;
}

#footer p {
	color: #ffffff;
	margin: 0;
	padding: 0;
	line-height: 80px;
	text-shadow: 1px 2px 1px #000000;
}

#footer a {
	color: #ffffff;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	text-shadow: 1px 2px 1px #000000;
}

#footer a:hover {
	color: #cecece;
	text-decoration: none;
	text-shadow: 1px 2px 1px #000000;
}



/*===== BOX FIXTURE ======*/

div.titulo {
    color: rgb(225, 96, 57);
    font-size: 20px;
    font-family: ArchivoNarrowRegular;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.posiciones {
    border: 1px solid rgb(231, 231, 231);
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    float: left;
    overflow: hidden;
    margin: 0px;
	font-family: Arial,Helvetica,sans-serif;
	display: block;
	outline: 0px none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}


div.posiciones div{
	font-style: inherit;
	color:white;
}



div.posiciones div.titulo{
	width: 96%;
	height: 30px;
	font-size: 15px;
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 18px;
	padding-bottom: 18px;
	line-height: 2;
	border-bottom: 1px solid rgb(233, 233, 233);

}




div.posiciones div.titulo div.tit {
    width: 180px;
    font-size: 17px;
    float: left;
    margin-top: 11px;
    font-family: ArchivoNarrowRegular;
}

div.posiciones div.titulo div.tit_col {
    width: 32px;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    line-height: 3.5;
    margin-right: 5px;
    float: left;
}

div.posiciones div.titulo div.tit_col span {
    font-weight: 700;
    color: rgb(225, 96, 57);


